<div class="row justify-content-center mt-3">
    <div class="col-10">
        <form [formGroup]="newcontact" (ngSubmit)="addContact(newcontact)">
            <div class="form-group row">
                <label for="firstName" class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" name="" id="" formControlName="firstName" class="form-control" [ngClass]="IsValidFeild('firstName')?'':'is-invalid'"
                    />
                    <div *ngIf="!IsValidFeild('firstName')" [ngClass]="!IsValidFeild('firstName')?'invalid-feedback':''">
                        feild is required and accept only alphabets.
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="middleName" class="col-sm-3 col-form-label">Middle Name</label>
                <div class="col-sm-8">
                    <input type="text" name="" id="" formControlName="middleName" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" name="" id="" formControlName="lastName" class="form-control" [ngClass]="IsValidFeild('lastName')?'':'is-invalid'"
                    />
                    <div *ngIf="!IsValidFeild('lastName')" [ngClass]="!IsValidFeild('lastName')?'invalid-feedback':''">
                        feild is required and accept only alphabets.
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="gender" class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-8">
                    <select name="" id="" class="col-sm-8 custom-select" formControlName="gender" [ngClass]="IsValidFeild('gender')?'':'is-invalid'">
                        <option value="0" selected="selected">Select</option>
                        <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.name}}</option>
                    </select>
                    <div *ngIf="!IsValidFeild('gender')" [ngClass]="!IsValidFeild('gender')?'invalid-feedback':''">
                        gender is required.
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="dob" class="col-sm-3 col-form-label">Date of birth</label>
                <div class="col-sm-8 input-group">
                    <input type="text" name="" id="" class="form-control" formControlName="dob" ngbDatepicker #d="ngbDatepicker" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary" (click)="d.toggle()">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email Address</label>
                <div class="col-sm-8">
                    <input type="text" name="" id="" formControlName="email" class="form-control" [ngClass]="IsValidFeild('email')?'':'is-invalid'"
                    />
                    <div *ngIf="!IsValidFeild('email')" [ngClass]="!IsValidFeild('email')?'invalid-feedback':''">
                        valid email address required.
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-4 col-sm-4">
                            <select name="" id="" class="col-sm-3 custom-select" formControlName="code" [ngClass]="IsValidFeild('code')?'':'is-invalid'">
                                <option selected>dial codes</option>
                                <option value="" *ngFor="let country of countries" [value]="country.dial_code">({{country.dial_code}}) {{country.name}}</option>
                            </select>
                            <div *ngIf="!IsValidFeild('code')" [ngClass]="!IsValidFeild('code')?'invalid-feedback':''">
                                dial code is required.
                            </div>
                        </div>
                        <div class="col-8 col-sm-8">
                            <input type="text" name="" id="" formControlName="phone" class="form-control" [ngClass]="IsValidFeild('phone')?'':'is-invalid'"
                            />
                            <div *ngIf="!IsValidFeild('phone')" [ngClass]="!IsValidFeild('phone')?'invalid-feedback':''">
                                feild is required and accept only 10 digit number.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Upload Pic</label>
                <div class="col-sm-8">
                    <label for="" class="custom-file">
                        <input type="file" name="" id="" formControlName="avatar" class="form-control-file" />
                        <span class="custom-file-control"></span>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary" [disabled]="!newcontact.valid">Add Contact</button>
                </div>
            </div>
        </form>
    </div>
</div>