<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Username</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of personList">
                    <td><img src="" alt="" srcset=""></td>
                    <td>{{person.FirstName}} {{person.LastName}}</td>
                    <td>{{person.Emails}}</td>
                    <td>{{person.Gender}}</td>
                    <td>{{person.UserName}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <button type="button" class="btn btn-info" (click)="showContact()">show</button>
                            <button type="button" class="btn btn-default">edit</button>
                            <button type="button" class="btn btn-danger" (click)="removeContact()">remove</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>