<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>DOB</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="" alt="" srcset=""></td>
                    <td>Mudit Mohan Kaushik</td>
                    <td>muditm@gmail.com</td>
                    <td>9880915709</td>
                    <td>10/9/1990</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <button type="button" class="btn btn-info">show</button>
                            <button type="button" class="btn btn-default">edit</button>
                            <button type="button" class="btn btn-danger">remove</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>