<h3>Search Contacts</h3>
<hr/>
<form [formGroup]="searchForm" (ngSubmit)="searchPerson(searchForm)">
    <div class="form-row">
        <div class="form-group col-md-2">
            <select name="" id="" formControlName="criteria" class="custom-select col-md-2">
                <option value="">Filter by:</option>
                <option *ngFor="let criteria of criteriaList" [value]="criteria.value">{{criteria.filter}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <div class="input-group">
                <input type="text" name="" id="" formControlName="searchTerm" class="form-control" placeholder="enter search term" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </span>
            </div>
        </div>
    </div>
</form>
<hr/>
<contact-result [result]="contact" *ngIf="contact"></contact-result>