<h3>Search Contacts</h3>
<hr/>
<div class="row">
    <div class="col-6">
        <form [formGroup]="searchForm" (ngSubmit)="searchPerson(searchForm)">
            <div class="input-group">
                <input type="text" name="" id="" formControlName="username" class="form-control" placeholder="enter username" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-secondary" [disabled]="!searchForm.valid">Search</button>
                </span>
            </div>
            <p class="is-invalid">Required.</p>
        </form>
    </div>
</div>
<contact-result [result]="contact" *ngIf="contact"></contact-result>