<div class="row">
    <div class="col-2 mh-100 justify-content-start bg-light">
        <div class="navbar-nav float-left flex-column">
            <a [routerLink]="[{outlets:{'dashb':['contactlist']}}]" class="nav-item nav-link">Contacts</a>
            <a [routerLink]="[{outlets:{'dashb':['addcontact']}}]" class="nav-item nav-link">Add Contacts</a>
            <a [routerLink]="['/files']" class="nav-item nav-link">Files</a>
            <a [routerLink]="['/share']" class="nav-item nav-link">Share</a>
        </div>
    </div>
    <div class="col-8">
        <router-outlet name="dashb"></router-outlet>
    </div>
</div>