<div class="row">
    <div class="col-2 bg-light">
        <nav class="navbar-nav">
            <a class="page-item nav-item nav-link text-info">Contacts</a>
            <nav class="navbar-nav flex-column">
                <a [routerLink]="[{outlets:{'dashb':['contactlist']}}]" class="nav-item nav-link ml-3 my-1">Contact List</a>
                <a [routerLink]="[{outlets:{'dashb':['addcontact']}}]" class="nav-item nav-link ml-3 my-1">Add Contacts</a>
            </nav>
            <span class="page-item nav-item nav-link text-info">Files</span>
            <nav class="navbar-nav flex-column">
                <a [routerLink]="[{outlets:{'dashb':['filelist']}}]" class="nav-item nav-link ml-3 my-1">File List</a>
                <a [routerLink]="[{outlets:{'dashb':['createfiles']}}]" class="nav-item nav-link ml-3 my-1">Create File</a>
            </nav>
            <span class="page-item nav-item nav-link text-info">Share</span>
            <nav class="navbar-nav flex-column">
                <a [routerLink]="[{outlets:{'dashb':['sharedfiles']}}]" class="nav-item nav-link ml-3">Shared Files</a>
            </nav>
        </nav>
    </div>
    <main class="col-10">
        <router-outlet name="dashb"></router-outlet>
    </main>
</div>