<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Extension</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Abc1</td>
                    <td>pdf</td>
                    <td>@Me</td>
                    <td>MK</td>
                    <td>13/9/2016</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-danger"  placement="bottom" ngbTooltip="stop share">
                                <i class="fa fa-ban"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>